USE [ecomm]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/5/2022 11:17:20 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2/5/2022 11:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2/5/2022 11:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2/5/2022 11:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2/5/2022 11:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2/5/2022 11:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[Image] [nvarchar](max) NULL,
	[City] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[Zip] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[Address1] [nvarchar](max) NULL,
	[Address2] [nvarchar](max) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Banners]    Script Date: 2/5/2022 11:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Banners](
	[Id] [nvarchar](128) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Link] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Banners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2/5/2022 11:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[ParentId] [nvarchar](128) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 2/5/2022 11:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Zone] [nvarchar](max) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 2/5/2022 11:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Subject] [nvarchar](max) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 2/5/2022 11:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Path] [nvarchar](max) NOT NULL,
	[ProductId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 2/5/2022 11:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [nvarchar](128) NOT NULL,
	[ProductId] [nvarchar](128) NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Sku] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[DetuctionPersontage] [int] NOT NULL,
	[Detuction] [decimal](18, 2) NOT NULL,
	[Tex] [int] NOT NULL,
	[ReturnTotal] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.OrderDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2/5/2022 11:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [nvarchar](128) NOT NULL,
	[SubTotal] [decimal](18, 2) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NULL,
	[ShipDate] [datetime] NULL,
	[OrderNotes] [nvarchar](max) NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[Country] [nvarchar](max) NOT NULL,
	[City] [nvarchar](max) NOT NULL,
	[State] [nvarchar](max) NOT NULL,
	[Zip] [nvarchar](max) NOT NULL,
	[Address1] [nvarchar](max) NOT NULL,
	[Address2] [nvarchar](max) NULL,
	[IsShipToDifferentAddress] [bit] NOT NULL,
	[DiffCountry] [nvarchar](max) NULL,
	[DiffCity] [nvarchar](max) NULL,
	[DiffState] [nvarchar](max) NULL,
	[DiffZip] [nvarchar](max) NULL,
	[DiffAddress1] [nvarchar](max) NULL,
	[DiffAddress2] [nvarchar](max) NULL,
	[UserId] [nvarchar](128) NULL,
	[OrderStatusId] [nvarchar](128) NULL,
	[PaymentMethodId] [nvarchar](128) NULL,
	[ShippingPrice] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[OrderWaybillid] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatuses]    Script Date: 2/5/2022 11:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatuses](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.OrderStatuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 2/5/2022 11:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.PaymentMethods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 2/5/2022 11:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [nvarchar](128) NOT NULL,
	[Sku] [nvarchar](450) NOT NULL,
	[MetaTitle] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[DiscountPrice] [decimal](18, 2) NULL,
	[Quantity] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[DateAdded] [datetime] NOT NULL,
	[DateModified] [datetime] NULL,
	[CategoryId] [nvarchar](128) NULL,
	[ShortDesciption] [nvarchar](max) NULL,
	[LongDescription] [nvarchar](max) NULL,
	[StatusId] [nvarchar](128) NULL,
	[IsFeatured] [bit] NOT NULL,
	[EndDiscountDate] [datetime] NULL,
	[UserId] [nvarchar](max) NOT NULL,
	[Weight] [int] NULL,
	[Width] [int] NULL,
	[Hight] [int] NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductSpecifications]    Script Date: 2/5/2022 11:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSpecifications](
	[ProductId] [nvarchar](128) NOT NULL,
	[ScreenSize] [nvarchar](max) NULL,
	[DisplayTechnology] [nvarchar](max) NULL,
	[MaxScreenResolution] [nvarchar](max) NULL,
	[Processor] [nvarchar](max) NULL,
	[RearFrontCamera] [nvarchar](max) NULL,
	[ExpandableMemory] [nvarchar](max) NULL,
	[USBTechnology] [nvarchar](max) NULL,
	[Fingerprint] [bit] NULL,
	[NFC] [bit] NULL,
	[RAM] [nvarchar](max) NULL,
	[HardDrive] [nvarchar](max) NULL,
	[GraphicsCoprocessor] [nvarchar](max) NULL,
	[ChipsetBrand] [nvarchar](max) NULL,
	[CardDescription] [nvarchar](max) NULL,
	[GraphicsCardRamSize] [nvarchar](max) NULL,
	[WirelessType] [nvarchar](max) NULL,
	[NumberOfUSB2Dot0Ports] [int] NULL,
	[NumberOfUSB3Dot0Ports] [int] NULL,
	[BrandName] [nvarchar](max) NULL,
	[Series] [nvarchar](max) NULL,
	[ItemModelNumber] [nvarchar](max) NULL,
	[HardwarePlatform] [nvarchar](max) NULL,
	[OperatingSystem] [nvarchar](max) NULL,
	[ItemWeight] [nvarchar](max) NULL,
	[ProductDimensions] [nvarchar](max) NULL,
	[ItemDimensionsLxWxH] [nvarchar](max) NULL,
	[ProcessorBrand] [nvarchar](max) NULL,
	[ProcessorCount] [int] NULL,
	[ComputerMemoryType] [nvarchar](max) NULL,
	[FlashMemorySize] [nvarchar](max) NULL,
	[HardDriveInterface] [nvarchar](max) NULL,
	[HardDriveRotationalSpeed] [nvarchar](max) NULL,
	[OpticalDriveType] [nvarchar](max) NULL,
	[Batteries] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProductSpecifications] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductTags]    Script Date: 2/5/2022 11:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductTags](
	[ProductId] [nvarchar](128) NOT NULL,
	[TagId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.ProductTags] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 2/5/2022 11:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[UserId] [nvarchar](128) NOT NULL,
	[ProductId] [nvarchar](128) NOT NULL,
	[Rating] [int] NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[IsApproved] [bit] NOT NULL,
	[DateAdded] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Reviews] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecialFeatureds]    Script Date: 2/5/2022 11:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecialFeatureds](
	[Id] [nvarchar](128) NOT NULL,
	[Title] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Link] [nvarchar](max) NOT NULL,
	[BackgroundImage] [nvarchar](max) NOT NULL,
	[ProductImage] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.SpecialFeatureds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statuses]    Script Date: 2/5/2022 11:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statuses](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Statuses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tags]    Script Date: 2/5/2022 11:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tags](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Tags] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlists]    Script Date: 2/5/2022 11:17:23 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlists](
	[UserId] [nvarchar](128) NOT NULL,
	[ProductId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Wishlists] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'267bc00a-89c3-453a-9958-7f476371bc23', N'root', N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'42833d40-a4c7-41ba-ab34-9a026a2222b9', N'customer', N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [Discriminator]) VALUES (N'43e989f2-6d7f-44c6-97dc-504dc6229055', N'administrator', N'ApplicationRole')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'024eb044-025a-4668-bffc-d6d15c01b883', N'42833d40-a4c7-41ba-ab34-9a026a2222b9')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'109133c8-9279-4e2a-8d53-d07b026d58f3', N'42833d40-a4c7-41ba-ab34-9a026a2222b9')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'24ac6f51-35ee-4555-88df-5b71b10ab65e', N'42833d40-a4c7-41ba-ab34-9a026a2222b9')
INSERT [dbo].[Banners] ([Id], [Image], [Link]) VALUES (N'09020000-5d9d-0015-0d51-08d97756af62', N'/ckfinder/connector?command=Proxy&lang=en&type=Images&currentFolder=%2F&hash=ea8d60299e82343398f8ef2451c2b22b3c8cc8c6&fileName=DOT%2002.jpg', N'http://expts.lk/shop?category=Fashion')
INSERT [dbo].[Banners] ([Id], [Image], [Link]) VALUES (N'09020000-5d9d-0015-5dc6-08d97756f5b2', N'/ckfinder/connector?command=Proxy&lang=en&type=Images&currentFolder=%2F&hash=ea8d60299e82343398f8ef2451c2b22b3c8cc8c6&fileName=DOT%205.jpg', N'http://expts.lk/shop?category=Other')
INSERT [dbo].[Banners] ([Id], [Image], [Link]) VALUES (N'09020000-5d9d-0015-6792-08d977571651', N'/ckfinder/connector?command=Proxy&lang=en&type=Images&currentFolder=%2F&hash=ea8d60299e82343398f8ef2451c2b22b3c8cc8c6&fileName=DOT.jpg', N'http://expts.lk/shop?category=Electronics')
INSERT [dbo].[Categories] ([Id], [Name], [ParentId], [IsActive]) VALUES (N'09020000-5d9d-0015-6b2c-08d9b0e16531', N'Cosmatics', NULL, 1)
INSERT [dbo].[Categories] ([Id], [Name], [ParentId], [IsActive]) VALUES (N'09020000-5d9d-0015-cc81-08d92be08bcf', N'Other', NULL, 0)
INSERT [dbo].[Categories] ([Id], [Name], [ParentId], [IsActive]) VALUES (N'9d6b0000-0a65-5c26-0fbb-08d928a88988', N'Ayurveda', NULL, 1)
INSERT [dbo].[Cities] ([Id], [Name], [Zone], [Amount]) VALUES (N'09020000-5d9d-0015-00db-08d978082205', N'Galgamuwa', N'E', CAST(275.00 AS Decimal(18, 2)))
INSERT [dbo].[Cities] ([Id], [Name], [Zone], [Amount]) VALUES (N'09020000-5d9d-0015-0343-08d978065aa7', N'Ehaliyagoda', N'D', CAST(275.00 AS Decimal(18, 2)))
INSERT [dbo].[Cities] ([Id], [Name], [Zone], [Amount]) VALUES (N'09020000-5d9d-0015-0721-08d97804488a', N'Colombo-09', N'A', CAST(275.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [IsRead]) VALUES (1, N'Hairul Mirshad', N'hndit2016@gmail.com', N'Salam', N'yes', 1)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [IsRead]) VALUES (2, N'Hairul Mirshad', N'mirsh94@gmail.com', N'Tewm', N'Test send messages ', 1)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [IsRead]) VALUES (3, N'Jameswap', N'no-replyBrox@gmail.com', N'Mailing via the feedback form.', N'Hi!  medco.lk 
 
We propose 
 
Sending your message through the feedback form which can be found on the sites in the contact partition. Contact form are filled in by our program and the captcha is solved. The superiority of this method is that messages sent through feedback forms are whitelisted. This technique raise the odds that your message will be read. 
 
Our database contains more than 27 million sites around the world to which we can send your message. 
 
The cost of one million messages 49 USD 
 
FREE TEST mailing Up to 50,000 messages. 
 
 
This message is created automatically.  Use our contacts for communication. 
 
Contact us. 
Telegram - @FeedbackMessages 
Skype  live:contactform_18 
WhatsApp - +375259112693 
We only use chat.', 0)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [IsRead]) VALUES (4, N'Donald Cole', N'lanj7962@gmail.com', N'Partnership', N'Good day 
 
I contacted you some days back seeking your cooperation in a matter regarding funds worth $24 Million, I urge you to  get back to me through this email coledd11@cloedcolela.com if you''re still interested. 
 
I await your response. 
 
Thanks, 
 
Donald Cole', 1)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [IsRead]) VALUES (5, N'Mike Attwood
', N'no-replyBrox@gmail.com', N'Strengthen your Domain Authority', N'Hi there 
 
Do you want a quick boost in ranks and sales for your website? 
Having a high DA score, always helps 
 
Get your medco.lk to have a DA between 50 to 60 points in Moz with us today and reap the benefits of such a great feat. 
 
See our offers here: 
https://www.strictlydigital.net/product/moz-da50-seo-plan/ 
 
On SALE: 
https://www.strictlydigital.net/product/ahrefs-dr60/ 
 
 
Thank you 
Mike Attwood
', 0)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [IsRead]) VALUES (6, N'Roberts Zuluf', N'rfzuluf@gmail.com', N'Trying to Reach you', N'Hi 
How are you? I wanted to reach out to you and verify that email was a good way to reach you or We can discuss this via the telephone,WhatsApp only. +90 555 140 8097 or contact@frzuluf.com 
I count in your honor for a quick response for a good deal. 
Regards, 
Roberts Zuluf', 0)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [IsRead]) VALUES (7, N'Richard Andersen', N'donotreply.betrave@gmail.com', N'START TRADING  Online RIGHT NOW: With only 1 USD!', N'Dear, 
Do you know that you could also achieve an additional profit of more than 10% in just a few days trading on stock markets worldwide with minimum risk? 
Would you like to start trading or investing in the stock market more easily and quickly, with more confidence, effectiveness & efficiency? ONLINE? 
> TRY IT RIGHT NOW FOR FREE 
You can start by opening a 100% free account, with a small amount like 1 USD for trial. To get started, please register here with our 100% accredited worldclass broker  CAPITAL, then we will guide you forward. 
Link for free registration RIGHT NOW: https://capital.com/?c=37799_3743058&pid=cellxpert 
How to trade?: You just purchase an asset at a lower cost, then you resell it after a few moments (few hours or few days) at a higher cost; then you gain from the price increase. 
 
On behalf of BETRAVE Team Worldwide: For more infos please  contact us by email contact@betrave.org or whatsapp +237620171905 or visit: http://www.betrave.org/', 0)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [IsRead]) VALUES (8, N'Mike Crossman
', N'no-replyBrox@gmail.com', N'Local SEO for more business', N'Greetings 
 
We will increase your Local Ranks organically and safely, using only whitehat methods, while providing Google maps and website offsite work at the same time. 
 
Please check our plans here, we offer Local SEO at cheap rates. 
https://speed-seo.net/product/local-seo-package/ 
 
NEW: 
https://www.speed-seo.net/product/zip-codes-gmaps-citations/ 
 
regards 
Mike Crossman
 
Speed SEO Digital Agency', 0)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [IsRead]) VALUES (9, N'Mike Thorndike
', N'no-replyBrox@gmail.com', N'whitehat monthly SEO plans', N'Hello 
 
I have just analyzed  medco.lk for its SEO Trend and saw that your website could use an upgrade. 
 
We will improve your SEO metrics and ranks organically and safely, using only whitehat methods, while providing monthly reports and outstanding support. 
 
Please check our plans here, we offer SEO at cheap rates. 
https://www.hilkom-digital.de/cheap-seo-packages/ 
 
Start improving your sales and leads with us, today! 
 
 
regards 
Mike Thorndike
 
Hilkom Digital Team 
support@hilkom-digital.de', 0)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [IsRead]) VALUES (10, N'Susan Johnson', N'livestaffinghub@gmail.com', N'I have a quick question', N'Hello 
 
My main objective here, is to help you increase revenue for your business by providing Social Media Marketing for 1 WEEK FREE, then just $67 a month. 
 
To learn more: WATCH OUR VIDEO  https://bit.ly/lsh67offer 
 
Our specialist in Facebook, Instagram, LinkedIn and Twitter has a singular purpose and that is to drive more sales for your business, so that you will be our customer for life. 
 
This 1 WEEK FREE promotion is for this week only. So, if you want to get this deal before the deadline, click the link below. 
 
To learn more: WATCH OUR VIDEO https://bit.ly/lsh67offer 
 
Best, 
 
Susan Johnson', 0)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [IsRead]) VALUES (11, N'JAMES COOK', N'james_cook78@yahoo.com', N'Loan @ 3%', N'Dear sir/ma 
We are a finance and investment company offering loans at 3% interest rate. We will be happy to make a loan available to your organisation for your project. Our terms and conditions will apply. Our term sheet/loan agreement will be sent to you for review, when we hear from you. Please reply to this email ONLY cookj5939@gmail.com 
 
Regards. 
James Cook 
Chairman & CEO Euro Finance & Commercial Ltd', 0)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [IsRead]) VALUES (12, N'Mike Ward
', N'no-replyBrox@gmail.com', N'Get more dofollow backlinks for medco.lk', N'Hello 
 
We all know the importance that dofollow link have on any website`s ranks. 
Having most of your linkbase filled with nofollow ones is of no good for your ranks and SEO metrics. 
 
Buy quality dofollow links from us, that will impact your ranks in a positive way 
https://www.digital-x-press.com/product/150-dofollow-backlinks/ 
 
Best regards 
Mike Ward
 
support@digital-x-press.com', 0)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [IsRead]) VALUES (13, N'Mike Wainwright
', N'no-replyBrox@gmail.com', N'DA60+ for medco.lk with -35%', N'Greetings 
 
Do you want a quick boost in ranks and sales for your website? 
Having a high DA score, always helps 
 
Apply this -35% code ( MEGAPROMOTER ) while getting your medco.lk to have a DA above 60 points in Moz with us today and reap the benefits of such a great feat at an affordable rate. 
 
 
 
See our offers here: 
https://www.strictlydigital.net/product/moz-da50-seo-plan/ 
https://www.strictlydigital.net/product/moz-da60-seo-plan/ 
 
NEW: ahrefs DR70 is now possible: 
https://www.strictlydigital.net/product/ahrefs-seo-plan/ 
 
 
Thank you 
Mike Wainwright
 
mike@strictlydigital.net', 0)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [IsRead]) VALUES (14, N'Mike Sykes
', N'no-replyBrox@gmail.com', N'Local SEO for more business', N'Good Day 
 
We will improve your Local Ranks organically and safely, using only whitehat methods, while providing Google maps and website offsite work at the same time. 
 
Please check our plans here, we offer Local SEO at cheap rates. 
https://speed-seo.net/product/local-seo-package/ 
 
NEW: 
https://www.speed-seo.net/product/zip-codes-gmaps-citations/ 
 
regards 
Mike Sykes
 
Speed SEO Digital Agency', 0)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [IsRead]) VALUES (15, N'Kevin Johnson', N'tbformleads@gmail.com', N'Hope your open to this', N'Hello 
 
My main objective here, is to help increase revenue for you by producing an animated video that will generate leads and sales for your business 24/7, for just $97. 
 
But this offer is only good this week, so get your video before the deadline. 
 
Watch Our Video Now! https://bit.ly/Xpress97offer 
 
For less than you spend on coffee each month you get an American Owned Video company that can write your script, create your story board, lay-in a good soundtrack and produce an awesome video that brings home the bacon. 
 
Again, this $97 promotion is for this week only. Don’t miss out!!! 
 
I’m in, show me what you got. https://bit.ly/Xpress97offer 
 
Best, 
 
Kevin Johnson 
Business Development Manager', 0)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [IsRead]) VALUES (16, N'Mike Gilson
', N'no-replyBrox@gmail.com', N'whitehat monthly SEO plans', N'Hi 
 
I have just checked  medco.lk for its SEO Trend and saw that your website could use a boost. 
 
We will enhance your SEO metrics and ranks organically and safely, using only whitehat methods, while providing monthly reports and outstanding support. 
 
Please check our pricelist here, we offer SEO at cheap rates. 
https://www.hilkom-digital.de/cheap-seo-packages/ 
 
Start improving your sales and leads with us, today! 
 
 
regards 
Mike Gilson
 
Hilkom Digital Team 
support@hilkom-digital.de', 0)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [IsRead]) VALUES (17, N'Mike Gilbert
', N'no-replyBrox@gmail.com', N'Get more dofollow backlinks for medco.lk', N'Hello 
 
We all know the importance that dofollow link have on any website`s ranks. 
Having most of your linkbase filled with nofollow ones is of no good for your ranks and SEO metrics. 
 
Buy quality dofollow links from us, that will impact your ranks in a positive way 
https://www.digital-x-press.com/product/150-dofollow-backlinks/ 
 
Best regards 
Mike Gilbert
 
support@digital-x-press.com', 0)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [IsRead]) VALUES (18, N'Mike Macduff
', N'no-replyBrox@gmail.com', N'Increase sales for medco.lk', N'Hello 
 
If you''ll ever need a permanent increase in your website''s Domain Authority score, We can help. 
 
More info: 
https://www.strictlydigital.net/product/moz-da50-seo-plan/ 
 
NEW: Ahrefs DR70 plan: 
https://www.strictlydigital.net/product/ahrefs-seo-plan/ 
 
 
Thank you 
Mike Macduff
 
mike@strictlydigital.net', 0)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [IsRead]) VALUES (19, N'Mike Holmes
', N'no-replyBrox@gmail.com', N'Local SEO for more business', N'Howdy 
 
We will improve your Local Ranks organically and safely, using only whitehat methods, while providing Google maps and website offsite work at the same time. 
 
Please check our services below, we offer Local SEO at cheap rates. 
https://speed-seo.net/product/local-seo-package/ 
 
NEW: 
https://www.speed-seo.net/product/zip-codes-gmaps-citations/ 
 
regards 
Mike Holmes
 
Speed SEO Digital Agency', 0)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [IsRead]) VALUES (20, N'JarrodClils', N'hrhmbambi@gmail.com', N'Product and business cooperation', N'Attn. Director, 
 
I am interested in your products and line of business. 
 
Please do not hesitate to contact me if you will need a financial partner and investor. 
 
Kindly send reply to hrmbahmbi@aghemfondom.com 
 
Regards, 
 
HRH Bah- Mbi', 0)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [IsRead]) VALUES (21, N'Kevin Johnson', N'tbformleads@gmail.com', N'Hope your open to this ', N'Hello 
 
My main objective here, is to help increase revenue for you by producing an animated video that will generate leads and sales for your business 24/7, for just $97. 
 
But this offer is only good this week, so get your video before the deadline. 
 
Watch Our Video Now!   https://bit.ly/Xpress97offer 
 
For less than you spend on coffee each month you get an American Owned Video company that can write your script, create your story board, lay-in a good soundtrack and produce an awesome video that brings home the bacon. 
 
Again, this $97 promotion is for this week only. Don’t miss out!!! 
 
I’m in, show me what you got.   https://bit.ly/Xpress97offer 
 
Best, 
 
Kevin Johnson 
Business Development Manager', 0)
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Subject], [Message], [IsRead]) VALUES (22, N'Mike Thompson
', N'no-replyBrox@gmail.com', N'Competitors not playing the SEO game fair?', N'Negative SEO attack Services. Deindex bad competitors from Google. It works with any Website, video, blog, product or service. 
https://www.seo-treff.de/product/derank-seo-service/', 0)
SET IDENTITY_INSERT [dbo].[Contacts] OFF
SET IDENTITY_INSERT [dbo].[Images] ON 

INSERT [dbo].[Images] ([Id], [Path], [ProductId]) VALUES (7, N'/ckfinder/connector?command=Proxy&lang=en&type=Images&currentFolder=%2F&hash=ea8d60299e82343398f8ef2451c2b22b3c8cc8c6&fileName=51F55YpUhRL__SL1500_.jpg', N'9d6b0000-0a65-5c26-e09c-08d928ae129f')
INSERT [dbo].[Images] ([Id], [Path], [ProductId]) VALUES (8, N'/ckfinder/connector?command=Proxy&lang=en&type=Images&currentFolder=%2F&hash=ea8d60299e82343398f8ef2451c2b22b3c8cc8c6&fileName=51TLAZygC5L__SL1072_.jpg', N'9d6b0000-0a65-5c26-e09c-08d928ae129f')
INSERT [dbo].[Images] ([Id], [Path], [ProductId]) VALUES (9, N'/ckfinder/connector?command=Proxy&lang=en&type=Images&currentFolder=%2F&hash=ea8d60299e82343398f8ef2451c2b22b3c8cc8c6&fileName=61jpnkd8RJL__SL1500_.jpg', N'9d6b0000-0a65-5c26-e09c-08d928ae129f')
GO
SET IDENTITY_INSERT [dbo].[Images] OFF
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Name], [Sku], [Price], [Quantity], [SubTotal], [DetuctionPersontage], [Detuction], [Tex], [ReturnTotal]) VALUES (25, N'#090200005D9D001575C908D97FF7E051', N'09020000-5d9d-0015-f272-08d936f5dd16', N'Camera ', N'14324', CAST(6000.00 AS Decimal(18, 2)), 1, CAST(6000.00 AS Decimal(18, 2)), 0, CAST(0.00 AS Decimal(18, 2)), 0, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Name], [Sku], [Price], [Quantity], [SubTotal], [DetuctionPersontage], [Detuction], [Tex], [ReturnTotal]) VALUES (26, N'#090200005D9D00153A1108D97FFA0971', N'09020000-5d9d-0015-ac1d-08d97086437e', N' konaz shampo', N'DOT085', CAST(400.00 AS Decimal(18, 2)), 1, CAST(400.00 AS Decimal(18, 2)), 0, CAST(0.00 AS Decimal(18, 2)), 0, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([Id], [OrderId], [ProductId], [Name], [Sku], [Price], [Quantity], [SubTotal], [DetuctionPersontage], [Detuction], [Tex], [ReturnTotal]) VALUES (27, N'#090200005D9D0015BEA508D980DB507C', N'09020000-5d9d-0015-fee7-08d93906c8ed', N'M3 smart watch', N'Dot002', CAST(1250.00 AS Decimal(18, 2)), 1, CAST(1250.00 AS Decimal(18, 2)), 0, CAST(0.00 AS Decimal(18, 2)), 0, CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
INSERT [dbo].[OrderStatuses] ([Id], [Name]) VALUES (N'f9d10000-d769-34e6-4e67-08d7b48f1d56', N'Pending')
INSERT [dbo].[OrderStatuses] ([Id], [Name]) VALUES (N'f9d10000-d769-34e6-786e-08d7b48f1d56', N'ReadyToShip')
INSERT [dbo].[OrderStatuses] ([Id], [Name]) VALUES (N'f9d10000-d769-34e6-a60e-08d7b48f1d56', N'Delivered')
INSERT [dbo].[PaymentMethods] ([Id], [Name]) VALUES (N'f9d10000-d769-34e6-0077-08d7b492a03f', N'Direct bank transfer')
INSERT [dbo].[PaymentMethods] ([Id], [Name]) VALUES (N'f9d10000-d769-34e6-aadb-08d7b492a03e', N'Cash on delivery')
GO
INSERT [dbo].[Reviews] ([UserId], [ProductId], [Rating], [Body], [IsApproved], [DateAdded]) VALUES (N'5bc92675-4d98-4886-a4a0-9e13715092cd', N'9d6b0000-0a65-5c26-1b6a-08d928add42b', 2, N'teamas', 1, CAST(N'2021-06-06T11:15:11.507' AS DateTime))
INSERT [dbo].[Reviews] ([UserId], [ProductId], [Rating], [Body], [IsApproved], [DateAdded]) VALUES (N'a38cb145-28a7-4fb1-b824-eef4a58824a4', N'9d6b0000-0a65-5c26-37dd-08d928a8f9f6', 4, N'please', 1, CAST(N'2021-06-06T10:41:00.443' AS DateTime))
INSERT [dbo].[Statuses] ([Id], [Name]) VALUES (N'222', N'Active')
INSERT [dbo].[Statuses] ([Id], [Name]) VALUES (N'333', N'InActive')
INSERT [dbo].[Statuses] ([Id], [Name]) VALUES (N'444', N'Pending')
INSERT [dbo].[Wishlists] ([UserId], [ProductId]) VALUES (N'5bc92675-4d98-4886-a4a0-9e13715092cd', N'09020000-5d9d-0015-ee0e-08d93c2f348a')
INSERT [dbo].[Wishlists] ([UserId], [ProductId]) VALUES (N'a38cb145-28a7-4fb1-b824-eef4a58824a4', N'09020000-5d9d-0015-d06a-08d936f62227')
INSERT [dbo].[Wishlists] ([UserId], [ProductId]) VALUES (N'a38cb145-28a7-4fb1-b824-eef4a58824a4', N'9d6b0000-0a65-5c26-37dd-08d928a8f9f6')
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((0)) FOR [DetuctionPersontage]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((0)) FOR [Detuction]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((0)) FOR [Tex]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((0)) FOR [ReturnTotal]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [ShippingPrice]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [OrderWaybillid]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((0)) FOR [IsFeatured]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ('') FOR [UserId]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [DateAdded]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Categories_dbo.Categories_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_dbo.Categories_dbo.Categories_ParentId]
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Images_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_dbo.Images_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Orders_OrderId]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_dbo.OrderDetails_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.OrderStatuses_OrderStatusId] FOREIGN KEY([OrderStatusId])
REFERENCES [dbo].[OrderStatuses] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.OrderStatuses_OrderStatusId]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.PaymentMethods_PaymentMethodId] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[PaymentMethods] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.PaymentMethods_PaymentMethodId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Statuses_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Statuses] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Statuses_StatusId]
GO
ALTER TABLE [dbo].[ProductSpecifications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductSpecifications_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductSpecifications] CHECK CONSTRAINT [FK_dbo.ProductSpecifications_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[ProductTags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductTags_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductTags] CHECK CONSTRAINT [FK_dbo.ProductTags_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[ProductTags]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProductTags_dbo.Tags_TagId] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tags] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductTags] CHECK CONSTRAINT [FK_dbo.ProductTags_dbo.Tags_TagId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Reviews_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_dbo.Reviews_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Reviews_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_dbo.Reviews_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Whishlists_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlists] CHECK CONSTRAINT [FK_dbo.Whishlists_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Whishlists_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlists] CHECK CONSTRAINT [FK_dbo.Whishlists_dbo.Products_ProductId]
GO
