<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="d-none d-sm-block">
                &copy; Mirshad  
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-md-right footer-links">
                 
            </div>
        </div>
    </div>
</div>
